/*Gallery CSS*/

.gallery {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
}

.gallery h3 {
    display: flex;
    width: 100%;
    margin: 10px 0;
    padding: 0.01em 16px;
}

.gallery img {
    width: 300px;
    height: 300px;
    margin: 20px;
    transition: all 0.5s ease;
}

.gallery img:hover {
    width: 310px;
    height: 310px;
    box-shadow: 0px 0px 30px 0px rgba(2, 64, 89, 1);
    margin: 15px;
}

.gallery__page-numbers {
    width: 100%;
    display: flex;
    justify-content: center;
}

.gallery__page-numbers a {
    padding: 8px 16px;
    margin-bottom: 5px;
    text-decoration: none;
    color: rgba(2, 64, 89, 1);
}

.gallery__page-numbers a.active {
    font-weight: bold;
    background-color: rgba(2, 64, 89, 1);
    color: #fff;
}
