/*Services CSS*/

.services-description {
    padding: 0 16px;
}

.services {
    padding: 16px 8px;
    color: #fff;
    font-size: 18px;
    display: flex;
}

.services__half {
    float: left;
    width: 50%;
    padding: 0 8px;
    margin-bottom: 16px;
}

.services__img {
    position: relative;
}

.services__name {
    position: absolute;
    left: 0;
    bottom: 0;
    padding: 8px 16px;
}

.services__row {
    padding: 0 8px;
    margin: 0 -16px;
}
