@import "menubar.css";
@import "homepage.css";
@import "rooms.css";
@import "services.css";
@import "about.css";
@import "gallery.css";
@import "contact.css";
@import "footer.css";

*,
*:before,
*:after {
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    overflow-x: hidden;
}

html,
body {
    font-family: Verdana, sans-serif;
    font-size: 15px;
    line-height: 1.5;
}

body {
    color: #000;
    background-color: #f1f1f1;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Raleway", Arial, Helvetica, sans-serif;
    font-weight: 400;
    margin: 10px 0;
}

h1 {
    font-size: 36px;
}

h2 {
    font-size: 30px;
}

h3 {
    font-size: 24px;
}

h4 {
    font-size: 20px;
}

h5 {
    font-size: 18px;
}

h6 {
    font-size: 16px;
}

img {
    vertical-align: middle;
}

a {
    color: inherit;
}

.content {
    margin: 0 auto;
    max-width: 1532px;
    width: 90%;
}

.notfound {
    padding: 20px;
}
