<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Valeria's Secret Hotel</title>
    
    <link rel="stylesheet" type="text/css" href="css/normalize.css">
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
    <link rel="stylesheet" href="css/font-awesome.min.css">
    <link rel="stylesheet" href="css/jquery.bxslider.css">
    
    <script src="js/lib/jquery.min.js"></script>
    <script src="js/lib/jquery.bxslider.min.js"></script>
    <script src="js/lib/lodash.js"></script>
    <script type="text/javascript" src="js/data.js"></script>
    <script type="text/javascript" src="js/slider.js"></script>
    
    <!-- Homepage template -->
    <script type="text/template" data-name="HomePage">
        <section class="homepage">
            <div class="sliderHeadline">
                <img class="image-headliner" src="img/headline.png" alt="Valeria's Secret Hotel">
                <img class="image-headliner" src="img/headline2.png" alt="Valeria's Secret Hotel">
                <img class="image-headliner" src="img/headline3.png" alt="Valeria's Secret Hotel">
                <img class="image-headliner" src="img/headline4.png" alt="Valeria's Secret Hotel">
            </div>
            <div class="booking-form">
                <div class="booking-form__name">
                    <h2><i class="fa fa-bed"></i> Valeria's Secret Hotel</h2>
                </div>
                <div class="booking-form__data">
                    <form action="#" target="_blank">
                        <div class="booking-form__row">
                            <div class="booking-form__row-half">
                                <label><i class="fa fa-calendar-o"></i> Check In
                                    <input class="booking-form__input" type="date" placeholder="DD MM YYYY" name="CheckIn" required>
                                </label>
                            </div>
                            <div class="booking-form__row-half">
                                <label><i class="fa fa-calendar-o"></i> Check Out
                                    <input class="booking-form__input" type="date" placeholder="DD MM YYYY" name="CheckOut" required>
                                </label>
                            </div>
                        </div>
                        <div class="booking-form__row">
                            <div class="booking-form__row-half">
                                <label><i class="fa fa-male"></i> Adults
                                    <input class="booking-form__input" type="number" value="1" name="Adults" min="1" max="6">
                                </label>
                            </div>
                            <div class="booking-form__row-half">
                                <label><i class="fa fa-child"></i> Kids
                                    <input class="booking-form__input" type="number" value="0" name="Kids" min="0" max="6">
                                </label>
                            </div>
                        </div>
                        <button class="booking-form__button" type="submit"><i class="fa fa-search"></i> Search</button>
                    </form>
                </div>
            </div>
            </div>
        </section>
    </script>

    <!-- Rooms template -->
    <script type="text/template" data-name="Rooms">
        <section>
            <div class="rooms-description">
                <h3>Rooms</h3>
                <p>Make yourself at home is our slogan. We offer the best beds in the industry. Sleep well and rest
                    well.
                </p>
            </div>
            <div class="rooms">
                <section class="rooms__controls">
                    <label for="roomSort">Sort by</label>
                    <select name="room-sort" id="roomSort">
                        <option value="price">Price</option>
                        <option value="roomSize">Room size</option>
                    </select>
                </section>
                <% _.forEach(roomsByType, function(currentRoom, index) { %>
                    <div class="room">
                        <div class="slider">
                            <div class="slider__controls slider__controls--left" onclick="slideLeft(<%= index %>)">&#10094;</div>
                            <div class="slider__controls slider__controls--right" onclick="slideRight(<%= index %>)">&#10095;</div>
                            <ul class="slider__list" style="margin-left: 0;" id="<%= index %>">
                                <% _.forEach(currentRoom.imgs, function(imgSrc) { %>
                                    <li class="slider__list__item"><img class="room__img" src="<%= imgSrc %>" alt="<%= currentRoom.roomType %>"></li>
                                <% }); %>
                            </ul>
                        </div>
                        <div class="room__description">
                            <h3><%= currentRoom.roomType %> Room</h3>
                            <h6 class="room__price">From $<%= currentRoom.price %></h6>
                            <p><%= currentRoom.bedType %> bed</p>
                            <p><%= currentRoom.roomSize %>m<sup>2</sup></p>
                            <p class="room__signs">
                                <i class="fa fa-bath"></i> 
                                <i class="fa fa-phone"></i> 
                                <i class="fa fa-wifi"></i> 
                                <i class="fa fa-tv"></i>
                            </p>
                            <% if (currentRoom.isAvaliable) { %>
                                <button class="room__button">Choose Room</button>
                            <% } else { %>
                                <button class="room__button room__button--unavailable">Room unavailable</button>
                            <% }%>
                        </div>
                    </div>
                <% }); %>
            </div>
        </section>
    </script>

    <!-- Services template -->
    <script type="text/template" data-name="Services">
        <section>
            <div class="services-description">
                <h3>Services</h3>
                <h6>Enjoy the following services in our hotel:</h6>
            </div>
            <div class="services">
                <div class="services__half">
                    <div class="services__img">
                        <img src="img/snorkeling.png" alt="Snorkeling" style="width:100%">
                        <span class="services__name">Snorkeling</span>
                    </div>
                </div>
                <div class="services__half">
                    <div class="services__row">
                        <div class="services__half">
                            <div class="services__img">
                                <img src="img/massage.png" alt="Massage" style="width:100%">
                                <span class="services__name">Massage</span>
                            </div>
                        </div>
                        <div class="services__half">
                            <div class="services__img">
                                <img src="img/wedding.png" alt="Wedding" style="width:100%">
                                <span class="services__name">Wedding ceremony</span>
                            </div>
                        </div>
                    </div>
                    <div class="services__row">
                        <div class="services__half">
                            <div class="services__img">
                                <img src="img/spa.png" alt="Spa" style="width:100%">
                                <span class="services__name">Spa</span>
                            </div>
                        </div>
                        <div class="services__half">
                            <div class="services__img">
                                <img src="img/paddle.png" alt="Paddle" style="width:100%">
                                <span class="services__name">Paddleboard</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </script>

    <!-- About template -->
    <script type="text/template" data-name="About">
        <section class="about">
            <div class="about__text">
                <h3>About</h3>
                <p>Located on the sophisticated, fashionable Seminyak beach, Valeriia's Secret Hotel, Bali is spread
                    across fifteen acres of breathtaking tropical gardens. Unique amongst luxury hotels in Bali,
                    our hotel grounds are dotted with ancient Balinese temples, where we still present daily offerings,
                    and boast a natural stone amphitheatre, a private dining space and the only local venue for
                    regular Balinese dance performances. Traditional Balinese thatch, natural stone and ornate
                    wood carvings lend an authentic ambience to our luxury lanai rooms and villas. Guests looking
                    for a luxury dining restaurant in Bali can choose from our traditional, thatched, open-air
                    dining spaces, amphitheatre, beach side cafe and charming bar. Valeriia's Secret Hotel Spa
                    in Bali is a wonderful setting to relax and unwind with a Balinese, Thai, Western or Oberoi
                    signature treatment. On request, guests can also experience aqua Pilates and beachfront yoga
                    in the hotel gardens. We offer all guests complimentary access to high speed Internet for up
                    to four devices. Guests who book in advance and directly with us can also enjoy special rates,
                    exclusive privileges and hotel offers. hotel offers. Relax with a loved one on a specially
                    curated holiday or honeymoon. Host an intimate luxury wedding at one of our charming beach,
                    garden or poolside wedding venues. Stay with Valeriia's Secret Hotels in Bali for an unforgettable
                    experience.
                </p>
                <p>We accept: <i class="fa fa-credit-card"></i>
                    <i class="fa fa-cc-mastercard"></i>
                    <i class="fa fa-cc-amex"></i>
                    <i class="fa fa-cc-visa"></i>
                    <i class="fa fa-cc-paypal"></i></p>
            </div>
            <div class="about__pic">
                <img src="img/about.png">
            </div>
        </section>
    </script>

    <!-- Gallery template -->
    <script type="text/template" data-name="Gallery">
        <section class="gallery">
        <h3>Gallery</h3>
            <% _.forEach(galleryPhotos, function(currentPicture, index) { %>
                <img src="<%= currentPicture.img %>" alt="<%= currentPicture.name %>">
            <% }); %>
            <section class="gallery__page-numbers">
                <% var page = 0; %>
                <% for(var i = 0; i < gallery.length; i += 12 ) { %>
                    <% page++ %>
                    <% if(page == pageNumber) { %>
                        <a href="#!/gallery/<%= page %>"
                            class="active"><%= page %></a>
                    <% } else { %>
                        <a href="#!/gallery/<%= page %>"><%= page %></a>
                    <% } %>
                <% } %>
            </section>
        </section>
    </script>

    <!-- Contacts template -->
    <script type="text/template" data-name="Contacts">
        <section>
            <div class="contact">
                <h3>Contact</h3>
                <p>If you have any questions, do not hesitate to ask them.</p>
                <i class="fa fa-map-marker contact__icon"></i> Padangbai, Manggis, Karangasem Regency, Bali 80871,
                Indonesia
                <br>
                <i class="fa fa-phone contact__icon"></i> <a href="tel:+001234567890">+00 123 45 67 890</a><br>
                <i class="fa fa-envelope contact__icon"> </i> Email: <a href="mailto:info@valeriassecret.com">info@valeriassecret.com</a><br>
                <form action="#" target="_blank">
                    <p>
                        <input class="contact__input" type="text" placeholder="Name" required name="Name">
                    </p>
                    <p>
                        <input class="contact__input" type="text" placeholder="Email" required name="Email">
                    </p>
                    <p>
                        <input class="contact__input" type="text" placeholder="Message" required name="Message">
                    </p>
                    <p>
                        <button class="contact__button" type="submit">SEND MESSAGE</button>
                    </p>
                </form>
            </div>
            <div class="map">
                <div id="googleMap" style="width:100%;height:400px;"></div>
            </div>
        </section>
    </script>

    <!-- NotFound template -->
    <script type="text/template" data-name="NotFound">
        <section class="notfound">
            <h2>Page not found</h2>
            <div><a href="#!<%= router.reverse('home') %>">Back to home page</a></div>
        </section>
    </script>

    <script>
        window.Templates = (function() {
            var templateElements = document.querySelectorAll('script[type="text/template"]');
            var compiledTemplates = {};

            Array.prototype.forEach.call(templateElements, function(templateElement) {
                var templateName = templateElement.getAttribute('data-name');
                var templateString = templateElement.innerHTML;

                compiledTemplates[templateName] = _.template(templateString);
            });

            return compiledTemplates;
        })();
    </script>
</head>

<body>
    <!-- Header -->
    <!-- Navigation Bar -->
    <header>
        <nav>
            <ul class="menubar" id="myMenubar">
                <li class="menubar__item menubar__item--logo"><a href="#!/"><i class="fa fa-bed"></i> Valeria's Secret</a></li>
                <li class="menubar__item menubar__dropdown" id="menubarRooms">
                    <label class="menubar__toggle" for="menubar__drop">Rooms +</label>
                    <a href="#!/rooms/all">Rooms</a>
                    <input type="checkbox" id="menubar__drop" />
                    <ul class="menubar__dropdown-content">
                        <li><a href="#!/rooms/Standard" class="menubar__dropdown-content__item">Standard</a></li>
                        <li><a href="#!/rooms/Superior" class="menubar__dropdown-content__item">Superior</a></li>
                        <li><a href="#!/rooms/Deluxe" class="menubar__dropdown-content__item">Deluxe</a></li>
                    </ul>
                </li>
                <li class="menubar__item" id="menubarServices"><a href="#!/services">Services</a></li>
                <li class="menubar__item" id="menubarAbout"><a href="#!/about">About</a></li>
                <li class="menubar__item" id="menubarGallery"><a href="#!/gallery/1">Gallery</a></li>
                <li class="menubar__item" id="menubarContacts"><a href="#!/contacts">Contacts</a></li>
                <a class="icon" onclick="toggleMenubar(event)">&#9776;</a>
                <a class="cross" onclick="toggleMenubar(event)">&#9747;</a>
            </ul>
        </nav>
    </header>

    <!-- content start -->
    <main id="content">
    </main>
    <!-- content end -->

    <!-- footer start-->
    <footer class="footer">
        <div>
            <h4>Valeria's Secret Hotel</h4>
            <p>Bali, Indonesia</p>
            <br>
            <h5>Find Us On</h5>
            <div class="footer__links">
                <a class="fa fa-facebook-official" href="https://www.facebook.com/"></a>
                <a class="fa fa-instagram" href="https://www.instagram.com/"></a>
                <a class="fa fa-snapchat" href="https://www.snapchat.com/"></a>
                <a class="fa fa-pinterest-p" href="https://www.pinterest.com/"></a>
                <a class="fa fa-twitter" href="https://twitter.com/"></a>
                <a class="fa fa-linkedin" href="https://www.linkedin.com/"></a>
            </div>
        </div>
        <div>
            <h4>Get In Touch</h4>
            <div class="footer__contact-list">
                <ul class="footer__contact-list__list">
                    <li class="footer__contact-list__list__item">
                        <i class="fa fa-map-marker"></i>
                        <div class="fleft location_address">
                            Padangbai, Manggis,<br> Karangasem Regency,<br> Bali 80871, Indonesia
                        </div>
                    </li>
                    <li class="footer__contact-list__list__item">
                        <i class="fa fa-phone"></i>
                        <div class="fleft contact_no">
                            <a href="tel:+001234567890">+00 123 45 67 890</a>
                        </div>
                    </li>
                    <li class="footer__contact-list__list__item">
                        <i class="fa fa-envelope-o"></i>
                        <div class="fleft contact_mail">
                            <a href="mailto:info@valeriassecret.com">info@valeriassecret.com</a>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <div class="copyright">
            <hr>
            <p>Copyright &copy; Valeria's Secret Hotel 2017. All rights reserved.</p>
        </div>
    </footer>
    <!-- footer end -->

    <script src="js/router/router.js"></script>
    <script type="text/javascript" src="js/hotelmap.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js"></script>
    <script src="js/app.js"></script>
</body>

</html>